$font-primary: sans-serif;
$color-primary: #648;

body {
  font-family: $font-primary;
  color: $color-primary;
}

#button,
form {
  display: inline-block;
}

h2 {
  color: $color-primary;
}

#button {
  background: $color-primary;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
